.header {
    text-align: center;
    padding: 2rem;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: white;
    border-radius: 1rem;
}

.header h1 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.header p {
    font-size: 1.1rem;
}